html, body {
    height: 100%;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.updColor{
  background-color:#ffeb8a!important ;   
  
}
#gantt_here {
  width: 100%;
  color:blue;
}
.baseline_button{
  width: 100px;
}